#main {
    display: flex;
    gap: 50px;
    padding-top: 20px;
    background-color: lightgray;
    justify-content: center;
    align-items: center;
}

.titulo1 {
    margin-bottom: 10px;
}

.parrafo1 {
    margin-bottom: 15px;
}

.titulo3 {
    margin-bottom: 10px;
}

#animalpicture {
    width: 400px;
    height: auto;
}

li { 
    margin-bottom: 5px;
    list-style: circle;
}

#contenidoprincipal {
    text-align: center;
}

#side-bar {
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    border-top:    2px solid black;
    border-right:  2px solid black; 
    border-bottom: 2px solid black;
    background-color: rgb(181, 180, 180);
 }

 #headersidebar {
    margin-left: -18%;
 }